############################
# OS Files
############################
.DS_Store
Thumbs.db

############################
# Python
############################
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

############################
# Java / Maven / Spring Boot
############################
target/
*.class
*.jar
*.war
*.ear
*.iml
.mvn/
.mvnw.cmd:Zone.Identifier
.mvnw:Zone.Identifier
pom.xml:Zone.Identifier

############################
# Node / Frontend
############################
node_modules/
dist/
build/

############################
# IDEs
############################
# VS Code
.vscode/

# IntelliJ / JetBrains
.idea/
*.iws
*.ipr
*.iml

# Eclipse
.project
.classpath
.settings/

############################
# Logs
############################
*.log

############################
# Misc
############################
*.tmp
*.swp
*.swo

# Ignore Windows ZoneIdentifier files
*Zone.Identifier